<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikewadsten.test.kiwi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_kiwi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="android.test.runner" />
        <receiver android:name="NotificationReceiver"></receiver>
        <activity android:name="ImportCoursesActivity" android:label="@string/import_courses_activity_label" android:screenOrientation="portrait"></activity>
       	<activity android:name="AddCourseActivity" android:label="@string/import_courses_activity_label" android:screenOrientation="portrait"></activity>
        
    </application>

    <instrumentation
        android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
        android:targetPackage="com.mikewadsten.test.kiwi"/>
</manifest>
